:root {
    line-height: 24px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}


body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
}


#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button {
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    box-sizing: border-box;
    padding: 4px 12px;
    margin: 0 4px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border: 1px solid var(--vscode-button-border);
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

button:active {
    outline: 0 !important;
}

button:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--vscode-focusBorder);
    outline-offset: 2px;
    opacity: 1;
}
